*


{
  margin:0px;
  padding: 0px;
  /* box-sizing: border-box; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* background-color: rgb(248, 248, 248); */
  background-color: linear-gradient(90deg, #e4e4e4 0%, #ebedee 100%);
  
  text-decoration: none;
  
}



/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
/* .about {
  background: url("../img/about-bg.jpg") center center;
  background-size: cover;
  position: relative;
 
} */

.about:before {
  
  background: rgba(0, 0, 0, 0.781);
  
 
}
